{% extends "base.html" %}
{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        {% if fail %}
        <div class="alert alert-danger" role="alert">
          That's not the keyword, try again
        </div>
        {% endif %}

      <p class="mt-5 mb-5 text-center">Type "<span class="font-weight-bold">GREEN EARTH</span> to confirm deletion of <span class="font-weight-bold">{{ key }}</span> in the <span class="font-weight-bold">{{dataB}}</span> database." 



    {% if fail %}
    <div class="alert alert-danger" role="alert">
        Something went wrong, please try again
    </div>
    {% endif %}

      
  
      <!-- Confirm Form -->
      <form class="mb-5" action="" method="POST">
        {{ form.csrf_token }}
        {{ form.keyword(class_="fadeIn second form-input", placeholder="GREEN EARTH") }}
        {{ form.submit(class="btn btn-success")}}
      </form>
  
    </div>
  </div>
{% endblock %}